






.outer{
	width:800px;
	height:500px;
	border:1px solid black;
	margin-top:70px;
	margin-left:270px;
}
.inner{
	 width:770px;
	 height:467px;
	 border:1px solid black;
	 margin-left:14px;
	 margin-bottom:26px;
	 margin-right:16px;
	 margin-top:12px;
}
.img1{
	background-color: #FF9999;
	width:769px;
	height:160px;
	float:top;
	padding-top:5px;
	border-bottom:1px solid black;
}
#one {
	padding-left:100px;
	padding-right:60px;
	margin-top:15px;
	color:#3f3d47;
	text-align:left;
	font-size:31px;
	
}
#two{
	color:#3f3d47;
	font-size:19px;
	padding-bottom:30px;
	margin-left:10px;
}
.inner1{
	background-color:yellow;
	height:301px;
	width:577px;
	float:left;
	border-right:1px solid black;
	
}
.img2{
	height:217px;
	width:557px;
	float:left;
}
#three{
	color:#ECECFB;
	text-align:left;
	font-size:29px;
	height:217px;
	width:557px;    
	position: absolute;
	transform: translate(4.5%, -90%);
	margin-left:30px;
	margin-right:50px;
}
.img3{
	background-color: #ECECFB;
    height: 297px;
    width: 188px;
    transform: translate(-2%, 0%);
    float: right;
	padding-bottom:3px;
}
#four{
	color: #3f3d47;
	font-size:32px;
	padding-bottom:3px;
	height:0;
 transform: translate(0%, -1000%);	
}
#five{
	font-size:17px;
	padding-top:5px;
	overflow:hidden;
	color:#3f3d47;
}
}